Package: fk-digital-pdfjs
Version: 1._VERSION_
Architecture: all 
Maintainer: digital-dev (digital-dev@flipkart.com)
Depends: bash, chkconfig
Section: flipkart/digital
Description: pdf js for pdf chunker
